:root{
    --primaryBlue500: hsl(220, 98%, 61%);
    --checkBackground:  linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    
    /* LightTheme */
    --gray50: hsl(0, 0%, 98%);
    --gray300: hsl(233, 11%, 84%);
    --gray600: hsl(236, 9%, 61%);
    --navy850:  hsl(235, 19%, 35%);
    --purple300: hsl(234, 39%, 85%);


    /* Dark Theme */
    --navy950: hsl(235, 21%, 11%);
    --navy900: hsl(235, 24%, 19%);
    --purple300: hsl(234, 39%, 85%);
    --purple100Hover: hsl(236, 33%, 92%);
    --purple600: hsl(235, 16%, 43%);
    --Purple700: hsl(233, 14%, 35%);
    --purple800: hsl(237, 14%, 26%);
    --gray600: hsl(236, 9%, 61%);

    /* Typography */

    --fontSize: 1.8rem;
    --fontFamily: "Josefin Sans", sans-serif;
    --fontWg400: 400;
    --fontWg700: 700;

}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 REM = 10PX */

}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
}
@media(min-width:768px){
    main{
        margin-top: 9rem;
    }
}
body, .header .container, .form, .form__input, .tasks{
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Globales */
.container {
    max-width: 75rem;
    margin: 0 auto;
    width: 90%;
}
img{
    max-width: 100%;
    display: block;
}



.header__background{
    background-image: url(../images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 20rem;
}
@media(min-width: 768px){}
body.light .header__background{
    background-image: url(../images/bg-desktop-light.jpg);
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.3s ease;
}

@keyframes deslizar {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
.header__text{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__title{
    font-size: 2.7rem;
    color: var(--gray50);
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin: 0;

}
.header__icon{
    background-image: url(../images/icon-sun.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}
 
body.light .header__icon{
    background-image: url(../images/icon-moon.svg);
} 
@media(min-width: 768px) {
    .header__background{
        background-image: url(../images/bg-desktop-dark.jpg);
        height: 30rem;
    }
    .header__title{
        letter-spacing: 2rem;
        font-size: 4rem;
    }
}


/* Form */
.form{
    margin-top: -8rem;
    background-color: var(--navy900);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
}


body.light .form{
    background-color: var(--gray50);
}
.form__group label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.task__label{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.form__checkbox, .task__checkbox{
    position: absolute;
    opacity: 0;
}
.form__checkbox--span{
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid var(--gray600);
}

.task__checkbox--span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid var(--gray600);
}

.form__checkbox:checked + .form__checkbox--span{
    background-image: url(../images/icon-check.svg),
                         linear-gradient(to bottom right, hsl(192, 100%, 67%) 0%,  hsl(280, 87%, 65%) 120%);
    background-repeat: no-repeat;
    background-position: center;
}

.task__checkbox:checked + .task__checkbox--span{
    background-image: url(../images/icon-check.svg),
                         linear-gradient(to bottom right, hsl(192, 100%, 67%) 0%,  hsl(280, 87%, 65%) 120%);
    background-repeat: no-repeat;
    background-position: center;

}

.form__input{
    width: 100%;
    background-color: var(--navy900);
    border: none;
    color: var(--gray600);
    font-size: 1.5rem;
}
body.light .form__input{
    background-color: var(--gray50);
}
.form__input:focus{
    border: none;
    outline: none;
}


.form__input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--navy900) inset;
    -webkit-text-fill-color: white;

}

.form__input::placeholder{
    font-size: 1.3rem;
}




/* Tasks */

.tasks{
    background-color: var(--navy900);
    border-radius: .5rem;
    padding: 1rem 2rem;
}
body.light .tasks{
    background-color: var(--gray50);
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.task__text{
    font-size: 1.2rem;
    color: var(--purple300);
}
body.light .task__text{
    color: var(--nav);
}
.task__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.task__edit, .task__x{
    all: unset;
}

.task__edit:hover{
    cursor: pointer;
}

.task__x{
    cursor: pointer;
}